* {
    margin: 0;
    padding: 0px;
    background-color: rgb(234, 236, 236);
}



$primarycolor: rgb(3, 94, 64);
$Default-font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
h1 {
    font-family: $Default-font-family;
}

.header {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primarycolor;
}

button {
    font-family: $Default-font-family;
    border: 2px solid $primarycolor;
    padding: 20px;
    margin: 20px;
    color: $primarycolor;
}