//Can use variables. So by keeping
//the values in variables, 
//we can re use the same values
//the variables are in the base file(made accourding to the modules)
@import './base';
h1 {
    font-family: $Default-font-family;
}

.header {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primarycolor;
}

button {
    font-family: $Default-font-family;
    border: 2px solid $primarycolor;
    padding: 20px;
    margin: 20px;
    color: $primarycolor;
}


//Nesting feature
//if not, we have to write a
// seperate code again to change sth inside a nesting

ul {
    background-color: aquamarine;

    li {
        a {
            text-decoration: none;
            font-weight: 600;
            color: rgb(22, 210, 94);

            span {
                &:hover {
                    color: brown;
                    font-size: larger;
                }

                //&mark is used to give the "in side that item meaning"
                color:$primarycolor;
            }
        }
    }
}

@mixin divcontent($bdrColor) {
    margin: 20px;
    padding: 20px;
    border: 2px solid $bdrColor;
}

.header2 {
    align-items: center;
    display: flex;
}

.content {
    @include divcontent(pink);

    &#sky {
        background-color: rgb(133, 215, 244);
    }

}